@use "../../spectre.css/variables" as *;

.#{$icon-prefix}.icon-arrow-down,
.#{$icon-prefix}.icon-arrow-left,
.#{$icon-prefix}.icon-arrow-right,
.#{$icon-prefix}.icon-arrow-up,
.#{$icon-prefix}.icon-downward,
.#{$icon-prefix}.icon-back,
.#{$icon-prefix}.icon-forward,
.#{$icon-prefix}.icon-upward {
  &::before {
    border: $icon-border-width solid currentColor;
    border-bottom: 0;
    border-right: 0;
    height: .65em;
    width: .65em;
  }
}
