@use "spectre.css/variables" as *;

.form-group {
  &:not(:last-child) {
    margin-bottom: $layout-spacing-md;
  }
}

.form-label {
  display: block;
  line-height: $line-height;
  padding: $control-padding-y-md + $border-width-md 0;

  &.label-sm,
  .form-group-sm & {
    font-size: $font-size-sm;
    padding: $control-padding-y-sm + $border-width-md 0;
  }

  &.label-lg,
  .form-group-lg & {
    font-size: $font-size-lg;
    padding: $control-padding-y-lg + $border-width-md 0;
  }
}

.form-input-hint {
  color: $gray;
  font-size: $font-size-sm;
  margin-top: $unit-1;

  .has-success &,
  .is-success + & {
    color: $success;
  }

  .has-error &,
  .is-error + & {
    color: $failure;
  }
}

.form-horizontal {
  padding: $layout-spacing-md 0;
}

.form-horizontal .form-group,
.form-group.form-group-horizontal {
  display: flex;
  flex-wrap: wrap;
}

fieldset {
  margin-bottom: $layout-spacing-lg;
}

legend {
  font-size: $font-size-lg;
  font-weight: 500;
  margin-bottom: $layout-spacing-lg;
}
