@use "spectre.css/variables" as *;

// Tables
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;

  &.table-striped {
    tbody {
      tr:nth-of-type(odd) {
        background: rgba($body-bg-monochrome--rgb-triplet, 0.25);
      }
    }
  }

  &,
  &.table-striped {
    tbody {
      tr {
        &.active {
          background: $body-bg-monochrome;
        }
      }
    }
  }

  &.table-hover:not(.table-loading) {
    tbody {
      tr {
        &:hover {
          background: rgba($body-bg-monochrome--rgb-triplet, 0.75);
        }
      }
    }
  }

  td,
  th {
    border-bottom: $border-width-md solid rgba($body-fg-monochrome--rgb-triplet, 0.85);
    padding: $unit-3 $unit-2;
  }
  th {
    border-bottom-width: $border-width-lg;
  }

  &.table-loading {
    td {
      border-color: transparent;
    }
  }
}

.table-scroll-container {
  overflow-x: auto;
}
