// Form validation states
.form-input,
.form-select {
  .has-success &,
  &.is-success {
    background: lighten($success-color, 53%);
    border-color: $success-color;
    &:focus {
      @include control-shadow($success-color);
    }
  }

  .has-error &,
  &.is-error {
    background: lighten($error-color, 53%);
    border-color: $error-color;
    &:focus {
      @include control-shadow($error-color);
    }
  }
}

// Form disabled and readonly
.form-input,
.form-select {
  &:disabled,
  &.disabled {
    background-color: $bg-color-dark;
    cursor: not-allowed;
    opacity: .5;
  }
}
