

// Icon stop
.icon-stop {
  border: $icon-border-width solid currentColor;
  border-radius: 50%;
  &::before {
    background: currentColor;
    height: $icon-border-width;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 1em;
  }
}

// Icon shutdown
.icon-shutdown {
  border: $icon-border-width solid currentColor;
  border-radius: 50%;
  border-top-color: transparent;
  &::before {
    background: currentColor;
    content: "";
    height: .5em;
    top: .1em;
    width: $icon-border-width;
  }
}

// Icon refresh
.icon-refresh {
  &::before {
    border: $icon-border-width solid currentColor;
    border-radius: 50%;
    border-right-color: transparent;
    height: 1em;
    width: 1em;
  }
  &::after {
    border: .2em solid currentColor;
    border-top-color: transparent;
    border-left-color: transparent;
    height: 0;
    left: 80%;
    top: 20%;
    width: 0;
  }
}

// Icon edit
.icon-edit {
  &::before {
    border: $icon-border-width solid currentColor;
    height: .4em;
    transform: translate(-40%, -60%) rotate(-45deg);
    width: .85em;
  }
  &::after {
    border: .15em solid currentColor;
    border-top-color: transparent;
    border-right-color: transparent;
    height: 0;
    left: 5%;
    top: 95%;
    transform: translate(0, -100%);
    width: 0;
  }
}

// Icon copy
.icon-copy {
  &::before {
    border: $icon-border-width solid currentColor;
    border-radius: $border-radius;
    border-right: 0;
    border-bottom: 0;
    height: .8em;
    left: 40%;
    top: 35%;
    width: .8em;
  }
  &::after {
    border: $icon-border-width solid currentColor;
    border-radius: $border-radius;
    height: .8em;
    left: 60%;
    top: 60%;
    width: .8em;
  }
}
