@use "../spectre.css/variables" as *;

// Icon check
.#{$icon-prefix}.icon-check {
  &::before {
    border: $icon-border-width solid currentColor;
    border-right: 0;
    border-top: 0;
    height: .5em;
    width: .9em;
    transform: translate(-50%, -75%) rotate(-45deg);
  }
}
